@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"),
    url("../../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto-Medium"),
    url("../../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../../fonts/Roboto-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-MediumItalic";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto-MediumItalic"),
    url("../../fonts/Roboto-MediumItalic.woff2") format("woff2"),
    url("../../fonts/Roboto-MediumItalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto-Bold"),
  url("../../../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../../../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"),
    url("../../../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../../../fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat-Medium"),
    url("../../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat-SemiBold"),
    url("../../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  font-style: italic;
  font-weight: 600;
  src: local("Montserrat-SemiBoldItalic"),
    url("../../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
    url("../../fonts/Montserrat-SemiBoldItalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"),
    url("../../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}