*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;
    @extend %roboto-500;
    color: $textMain;
    font-size: 22px;
    line-height: 26px;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
p{
    margin: 0;
}

.container{
    max-width: rem(1700px);
    margin: 0 auto;
    padding: 0 rem(10px);
}
.container-medium{
    max-width: rem(1520px);
    margin: 0 auto;
    padding: 0 rem(10px);
}

.btn{
    @extend %btn;
    display: inline-block;
}

// @media (max-width:1200px){
//     .container{
//         max-width: 970px;
//     }
// }
// @media (max-width:992px){
//     .container{
//         max-width: 750px;
//     }
// }
// @media (max-width:767px){
//     .container{
//         max-width: none;
//     }
// }