.about{
    z-index: 10;
    padding: rem(80px) rem(40px);
    position: relative;

    &::before{
        position: absolute;
        content:"";
        width: rem(195px);
        height: rem(195px);
        bottom: 0;
        left: rem(20px);
        background-image: url(../../images/decor/about-before.png);
        background-repeat: no-repeat;
    }
    &__inner{
        display: flex;
        padding-left: rem(70px);
        background: rgba(205, 168, 97, 0.1);
        box-shadow: 0px 14px 44px rgba(0, 0, 0, 0.03);
        border-radius: rem(50px);
        background-image: url(../../images/about-bg.png);
        background-repeat: no-repeat;
        background-position: 93% bottom;
    }
    &__image{
        margin-right: rem(80px);
    }
    
    &__subtitle{
        margin: 0;
        @extend %subtitle;
        margin-top: rem(64px);
        margin-bottom: rem(20px);
    }
    &__title{
        margin: 0;
        @extend %title;
        width: rem(461px);
        margin-bottom: rem(30px);
    }
    &__text{
        margin: 0;
        width: rem(513px);
        margin-bottom: rem(24px);
    }
    &__btn{
        padding: rem(15px) rem(45px);
    }
}