.card-small{
    max-width: rem(257px);
    height: rem(410px);
    text-align: center;

    &:hover{
        & .card-small__image-box{
            transition: all .3s;
            background-color: $accent;
        }
    }

    &__image-box{
        margin-top: rem(40px);
        width: 100%;
        height: rem(149px);
        background-color: $image-box;
        border-radius: rem(30px);
        margin-bottom: rem(20px);
        text-align: center;
        transition: all .3s;
        position: relative;
    }

    &__image{
        position: absolute;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        top: rem(-40px);
    }

    &__title{
        padding-top: rem(106px);
    }

    &__price{
        @extend %montserrat-700;
        color: $titleMain;
        font-size: rem(26px);
        line-height: rem(32px);
        margin: rem(17px) 0;
    }

    &__text{
        font-size: rem(18px);
        line-height: rem(21px);
        padding: 0 rem(18px);
        margin-bottom: rem(20px);
    }

    &__btn{
        @extend %btn;
        font-size: rem(18px);
        line-height: rem(22px);
        padding-top: rem(14px);
        width: rem(199px);
        height: rem(50px);
        background-color: transparent;
        transition: all .3s;
        box-shadow: none;
        &:hover{
            transition: all .3s;
            background-color: $accent;
            box-shadow: 0px rem(5px) rem(10px) rgba(205, 168, 97, 0.29);
        }
    }

    & .star{
        margin: auto;
    }
}