.featured{
    padding: rem(80px) 0 rem(160px);
    text-align: center;
    position: relative;

    @media(max-width: 1279px){
        &::before,
        &::after{
            display: none;
        }
    }

    @media(max-width: 767px){
        padding: rem(40px) 0;
    }

    &::before{
        position: absolute;
        content: "";
        width: rem(120px);
        height: rem(118px);
        top: rem(360px);
        left: rem(60px);
        background-image: url(../../images/decor/featured-bg1.png);
        background-repeat: no-repeat;
    }
    
    &::after{
        position: absolute;
        content: "";
        width: rem(47px);
        height: rem(118px);
        top: 0;
        right: 0;
        background-image: url(../../images/decor/featured-bg2.png);
        background-repeat: no-repeat;
    }

    &__text{
        margin-bottom: rem(70px);
    }

    &__list{
        margin: rem(-80px) 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__card{
        display: block;
        width: rem(400px);
        height: rem(511px);
        text-align: left;
        margin: rem(40px);

        @media(max-width: 767px){
            margin: rem(40px) 0;
        }

        @media(max-width: 450px){
            margin: rem(40px) 0;
            width: 100%;
            height: auto;
        }

        &:hover{
            cursor: pointer;
            & .featured__card-image{
                box-shadow: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25);
                transition: all .2s;
            }
        }
    }

    &__card-image{
        display: block;
        border-radius: rem(20px);
        margin-bottom: rem(30px);
        border: 2px solid $manatee;
        object-fit: cover;
        transition: all .2s;

        @media(max-width: 450px){
            width: 100%;
        }
    }

    &__card-title{
        @extend %roboto-700;
        font-size: rem(20px);
        line-height: rem(23px);
        color: $mainColor;
        margin: 0;
        margin-bottom: rem(15px);
    }

    &__card-text{
        @extend %roboto-400;
        font-size: rem(24px);
        line-height: rem(28px);
        color: $mainColor;
        margin: 0;
        margin-bottom: rem(15px);

        @media(max-width: 450px){
            font-size: rem(18px);
            line-height: rem(22px);
        }
    }

    &__card-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price-old{
        @extend %roboto-400;
        font-size: rem(32px);
        line-height: rem(37px);
        color: $accent;
        text-decoration: line-through;
        margin-right: rem(10px);

        @media(max-width: 450px){
            font-size: rem(22px);
            line-height: rem(26px);
        }
    }
    &__price-new{
        @extend %roboto-700;
        font-size: rem(32px);
        line-height: rem(37px);
        color: $black;

        @media(max-width: 450px){
            font-size: rem(22px);
            line-height: rem(26px);
        }

    }
    &__card-star{
        margin-top: rem(10px);
    }
    &__btn{
        @extend %btn;
        font-size: rem(18px);
        line-height: rem(22px);
        color: $mainColor;
        padding: rem(9px) rem(32px);

        @media(max-width: 450px){
            padding: rem(7px) rem(20px);
            font-size: rem(16px);
            line-height: rem(20px);
        }
    }
}