.footer{
    background-color: $accent;
    padding: rem(80px) 0;

    &__inner{
        display: flex;
    }

    &__info{
        max-width: rem(607px);
        margin-right: auto;
    }

    &__info-text{
        @extend %roboto-400;
        margin: rem(20px) 0;
        color: $mainColor;
    }

    &__social{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    &__social-item{
        margin: rem(5px);
    }

    &__list{
        padding: 0;
        & + .footer__list{
            margin-left: rem(150px);
        }

    }
    &__list-title{
        list-style: none;
        @extend %montserrat-700;
        font-size: rem(26px);
        line-height: rem(32px);
        color: $mainColor;
        padding-bottom: rem(5px);
        border-bottom: 2px solid $white;
        margin-left: rem(-30px);
        margin-bottom: rem(25px);
    }
    &__list-item{
        @extend %montserrat-500;
        color: $mainColor;
        font-size: rem(22px);
        line-height: rem(27px);
        list-style: none;
        position: relative;
        &::before{
            position: absolute;
            content: "\2022";
            left: rem(-15px);
            font-weight: bold; 
            display: inline-block;
            width: 1em; 
        }
        & + .footer__list-item{
            margin-top: rem(20px);
        }
        
    }

    &__copy{
        @extend %roboto-400;
        background-color: $mainColor;
        padding: rem(18px) 0;
        color: $accent;
        font-size: rem(18px);
        line-height: rem(21px);
        display: flex;
        justify-content: center;
    }
    &__copy-image{
        margin-right: rem(15px);
    }
}