.people{
    padding: rem(80px) 0;
    text-align: center;
    background-color: $bgSecondary;
    position: relative;

    &::before{
        z-index: -1;
        position: absolute;
        content: "";
        width: rem(148px);
        height: rem(110px);
        top: 0;
        left: rem(20px);
        background-image: url(../../images/people-bg-1.png);
        background-repeat: no-repeat;
    }

    &::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: rem(1749px);
        height: rem(289px);
        top: rem(231px);
        right: 0;
        background-image: url(../../images/people-bg.png);
        background-repeat: no-repeat;
    }
    &__title{
        margin-bottom: rem(80px);
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__card{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: rem(100px) rem(21px) rem(50px) ;
        width: rem(540px);
        height: rem(345px);
        background-color: $alabaster;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    &__card-image{
        position: absolute;
        top: rem(-50px);
        left: 50%;
        transform: translateX(-50%);
        width: rem(108px);
        height: rem(108px);
        border-radius: 50%;
        background: transparent;
        border: 2px solid $white;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.1));
    }

    &__card-text{
        margin: 0;
        @extend %roboto-400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.09em;
        margin-bottom: rem(50px);
    }

    &__card-name{
        @extend %roboto-700;
        color: $black;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.09em;
        margin: 0;
        margin-top: auto;
        margin-bottom: rem(4px);
    }

    &__card-position{
        @extend %roboto-400;
        color: $black;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.09em;
    }
}