.selling{
    padding: rem(80px);
    text-align: center;
    position: relative;
    background-image: url(../../images/decor/selling-bg.png);
    background-repeat: no-repeat;
    background-position: right rem(80px);

    &__title{
        @extend %subtitle;
        padding: 0;
    }

    &__text{
        padding: 0;
        margin-bottom: rem(70px);
    }

    &__slider{
        margin: 0 -25px;
        height: rem(410px);
        
        // margin: 0 -10px;
    }

}

.slider__card{
    width: 100%;
    display: inline-block;
    margin: 0 25px;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(47px);
    height: rem(47px);
    border-radius: 50%;
    border: none;
    background-color: $accent;
    color: $mainColor;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
    cursor: pointer;
    
}
.slick-prev{
    left: rem(-80px);
    img{
        margin-top: 3px;
        margin-left: -3px;
    }
}
.slick-next{
    right: rem(-80px);
    img{
        margin-top: 3px;
        margin-left: 3px;
    }
}