.selling{
    padding: rem(80px);
    text-align: center;
    position: relative;
    background-image: url("@img/decor/selling-bg.png");
    background-repeat: no-repeat;
    background-position: right rem(80px);

    @media(max-width: 767px){
        background-image: none;
        padding: rem(20px) rem(5px);
    }

    &__title{
        @extend %subtitle;
    }

    &__text{
        padding: 0;
        margin-bottom: rem(70px);
    }

    &__slider{
        margin: 0 rem(-25px);
        height: rem(410px);

        @media(max-width: 767px){
            margin: 0 rem(-15px) 0 rem(-25px);
        }
    }
}

.slider__card{
    width: 100%;
    display: inline-block;
    margin: 0 rem(25px);
}

.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: rem(47px);
    height: rem(47px);
    border-radius: 50%;
    border: none;
    background-color: $accent;
    color: $mainColor;
    box-shadow: 0 rem(2px) rem(4px) rgba(0, 0, 0, 0.25);
    z-index: 5;
    cursor: pointer;
}

.slick-prev{
    left: rem(-80px);

    img{
        margin-top: rem(3px);
        margin-left: rem(-3px);
    }

    @media(max-width:1730px){
        left: rem(-20px);
    }
}

.slick-next{
    right: rem(-80px);

    img{
        margin-top: rem(3px);
        margin-left: rem(3px);
    }

    @media(max-width:1730px){
        right: rem(-20px);
    }
}