.specials{
    padding: rem(80px) 0;
    text-align: center;
    position: relative;

    @media(max-width:1650px){
        &::before,
        &::after{
            display: none;
        }
    }

    @media(max-width:767px){
        padding: rem(40px) 0;
    }

    &::before{
        z-index: -1;
        position: absolute;
        content: "";
        bottom: rem(10px);
        left: 0;
        height: rem(109px);
        width: rem(109px);
        background-image: url(../../images/decor/specials-bg-1.png);
        background-repeat: no-repeat;
    }
    
    &::after{
        z-index: -1;
        position: absolute;
        content: "";
        top: rem(32px);
        right: rem(44px);
        height: rem(295px);
        width: rem(10px);
        background-image: url(../../images/decor/specials-bg-2.png);
        background-repeat: no-repeat;
    }

    &__inner{
        display: block;
        padding-top: rem(60px);
        height: rem(767px);
        background-image: url(../../images/specials-bg.jpg);
        background-repeat: no-repeat;
        background-size: content;
        background-position: center;
        border-radius: rem(50px);
        border: 5px solid $jungle-mist;
        
        @media(max-width:767px){
            margin: 0 rem(-10px);
            height: auto;
            border-radius: 0;
            border: none;
            padding: rem(60px) rem(10px);
            background: linear-gradient(198.73deg, rgba(0, 0, 0, 0.0001) 15.31%, rgba(0, 0, 0, 0.837986) 67.37%), url(../../images/specials-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__title{
        margin-bottom: rem(34px);
        @extend %subtitle;
        color: $black;
        border-bottom: none;

        @media(max-width:767px){
            color: $alabaster;
        }
    }

    &__btn{
        @extend %btn;
        color: $mainColor;
        padding: rem(11px) rem(41px);
        width: rem(210px);
        font-size: rem(22px);
        line-height: rem(27px);
        display: block;
        margin: 0 auto;

        @media(max-width:767px){
            &:hover{
                color: $white;
            }
        }
    }

    &__counter{
        display: flex;
        margin: 0 auto;
        max-width: rem(504px);
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(34px);
    }

    &__counter-item{
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(66px);
            height: rem(66px);
            border: 1px solid #F3E9E9;
            border-radius: 50%;
            @extend %montserrat-600;
            font-size: rem(24px);
            line-height: rem(29px);
            color: $black;
            position: relative;

            @media(max-width:767px){
                color: $white;
            }

            &.specials__counter-days::before,
            &.specials__counter-minutes::before{
                position: absolute;
                content: "";
                top: rem(-2px);
                left: 53%;
                width: rem(32px);
                height: rem(33px);
                border-radius: 0px 100% 0 0;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
            }
            &.specials__counter-hours::before,
            &.specials__counter-seconds::before{
                position: absolute;
                content: "";
                top: rem(-2px);
                left: rem(33px);
                width: 50%;
                height: rem(68px);
                border-radius: 0 rem(100px) rem(100px) 0;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
                border-bottom: 3px solid #fff;
            }
        }
    }

    &__counter-text{
        margin-top: rem(3px);
        @extend %montserrat-600-italic;
        font-size: rem(16px);
        line-height: rem(20px);
        color: $black;

        @media(max-width:767px){
            color: $white;
        }
    }
    
}