.specials{
    padding: rem(80px) 0;
    text-align: center;
    position: relative;

    &::before{
        position: absolute;
        content: "";
        bottom: 10px;
        left: 0;
        height: 109px;
        width: 109px;
        background-image: url(../../images/specials-bg-1.jpg);
        background-repeat: no-repeat;
    }
    &::after{
        position: absolute;
        content: "";
        top: 32px;
        right: 44px;
        height: 295px;
        width: 10px;
        background-image: url(../../images/specials-bg-2.jpg);
        background-repeat: no-repeat;
    }

    &__inner{
        padding-top: rem(60px);
        width: 100%;
        height: rem(767px);
        background-image: url(../../images/specials-bg.jpg);
        background-repeat: no-repeat;
        background-size: content;
        background-position: center;
        border-radius: 50px;
    }

    &__title{
        margin-bottom: rem(34px);
        @extend %subtitle;
        color: $black;
        border-bottom: none;
    }

    &__btn{
        @extend %btn;
        color: $mainColor;
        padding: 11px 41px;
        width: rem(210px);
        font-size: 22px;
        line-height: 27px;
        display: block;
        margin: 0 auto;
    }

    &__counter{
        display: flex;
        margin: 0 auto;
        max-width: 504px ;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(34px);
    }
    &__counter-item{
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(66px);
            height: rem(66px);
            border: 1px solid #F3E9E9;
            border-radius: 50%;
            @extend %montserrat-600;
            font-size: 24px;
            line-height: 29px;
            color: $black;
            position: relative;
            &.specials__counter-days::before,
            &.specials__counter-minutes::before{
                position: absolute;
                content: "";
                top: -2px;
                left: 53%;
                width: 32px;
                height: 33px;
                border-radius: 0px 100% 0 0;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
            }
            &.specials__counter-hours::before,
            &.specials__counter-seconds::before{
                position: absolute;
                content: "";
                top: -2px;
                left: 33px;
                width: 50%;
                height: 68px;
                border-radius: 0px 100px 100px 0;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
                border-bottom: 3px solid #fff;
            }
        }
    }
    &__counter-text{
        margin-top: rem(3px);
        @extend %montserrat-600-italic;
        font-size: 16px;
        line-height: 20px;
        color: $black;
    }
    
}