.star-products{
    text-align: center;
    position: relative;

    @media(max-width: 1279px){
        &::before{
            display: none;
        }
    }

    &::before{
        position: absolute;
        content: "";
        width: rem(107px);
        height: rem(123px);
        top: rem(100px);
        right: 0;
        background-image: url("@img/decor/star-product-bg.png");
        background-repeat: no-repeat;
    }

    &__text{
        margin-bottom: rem(30px);
    }

    &__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__nav-item{
        padding: rem(15px);
        border: rem(1px) solid $mainColor;
        border-radius: 50%;

        @media(max-width: 767px){
            padding: rem(10px);
        }

        & + .star-products__nav-item{
            margin-left: rem(133px);
            position: relative;

            @media(max-width: 767px){
                margin-left: rem(40px);
            }

            &::before{
                position: absolute;
                content:"";
                width: rem(113px);
                height: rem(1px);
                top: 50%;
                left: rem(-123px);
                background-color: $mainColor;

                @media(max-width: 767px){
                    width: rem(20px);
                    left: rem(-30px);
                }
            }
        }
    }

    &__nav-btn{
        width: rem(100px);
        height: rem(100px);
        padding-top: rem(38px);
        border: none;
        border-radius: 50%;
        background-color: $greyBg;
        cursor: pointer;
        @extend %roboto-500;
        color: $mainColor;
        font-size: rem(18px);
        line-height: rem(21px);
        transition: all .3s;

        @media(max-width: 767px){
            width: rem(55px);
            height: rem(55px);
            padding-top: rem(20px);
            font-size: rem(12px);
            line-height: rem(14px);
        }

        &--active{
            background-color: $accent;
            transition: all .3s;
        }
    }

    &__slider{
        margin: rem(50px) 0 rem(80px);
    }
    
    &__tab{
        display: none;

        &.star-products__tab--active{
            display: block;
        }
    }

    &__tab-content{
        display: flex;
        justify-content: center;
        padding-top: rem(10px);
        height: rem(505px);

        & .slider-item__tab{
            width: rem(360px);
            margin: rem(11px);
        }
    }

    &__slider-items{
        width: 100%;
        height: rem(506px);
    }

    & .slider-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: rem(360px);
        height: rem(476px);
        padding: rem(36px);
        background-color: #FFFFFF;
        border: 2px dashed rgba(52, 56, 61, 0.5);
        border-radius: rem(200px) rem(200px) rem(20px) rem(20px);

        &:hover{
            cursor: pointer;
            border-color: $accent;
            box-shadow: 0 rem(15px) rem(39px) rgba(0, 0, 0, 0.1);
        }

        &__image-box{
            position: relative;
            height: rem(270px);
        }

        &__image{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &__content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__title{
            width: rem(170px);
            margin: 0;
            margin-bottom: rem(10px);
            @extend %roboto-500;
            font-size: rem(22px);
            line-height: rem(26px);
            color: $mainColor;
        }

        &__rating{
            display: inline-block;
            @extend %roboto-500;
            font-size: rem(20px);
            line-height: rem(23px);
            color: $mainColor;
            padding-left: rem(33px);
            position: relative;

            &::before{
                position: absolute;
                content: "";
                width: rem(23px);
                height: rem(23px);
                top: 0;
                left: 0;
                background-image: url("@img/icons/star_border.svg");
                background-repeat: no-repeat;
            }
        }

        &__buy-btn{
            width: rem(47px);
            height: rem(47px);
            background-color: $accent;
            border: none;
            border-radius: 50%;
            box-shadow: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25);
            cursor: pointer;

            img{
                margin: auto;
            }
        }

        &__price{
            margin-top: rem(32px);
            @extend %roboto-500;
            font-size: rem(30px);
            line-height: rem(35px);
            color: $black;
        }
    }

    .slick-slide{
        width: rem(356px);
        margin: 0 rem(11px);

        @media(max-width: 400px){
            width: auto;
        }
    }
    .slick-track{
        margin: 0;
    }

    .slick-list{
        padding-top: rem(10px);
        height: rem(530px);
        // margin-left: rem(-7px);
    }

    &__arrow-prev{
        @media(max-width: 1600px){
            left: rem(20px);
        }
    }

    &__arrow-next{
        @media(max-width: 1600px){
            right: rem(20px);
        }
    }
    .slick-disabled{
        background-color: $greyBg;
    }
}