.subscribe{
    padding: rem(80px) 0;
    background-color: $bgSecondary;
    position: relative;
    @media(max-width: 1750px){
        &::before,
        &::after{
            display: none;
        }
    }

    @media(max-width: 767px){
        padding: rem(40px) 0;
        background-color: $white;
    }

    &::before{
        z-index: -1;
        position: absolute;
        content: "";
        width: rem(86px);
        height: rem(118px);
        top: rem(7px);
        left: rem(105px);
        background-image: url(../../images/decor/subscribe-bg-1.png);
        background-repeat: no-repeat;
    }

    &::after{
        z-index: -1;
        position: absolute;
        content: "";
        width: rem(147px);
        height: rem(343px);
        bottom: rem(85px);
        right: 0;
        background-image: url(../../images/decor/subscribe-bg-2.png);
        background-repeat: no-repeat;
    }
    
    &__inner{
        height: rem(697px);
        background-image: url(../../images/subscribe-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 rem(34px) rem(62px) rgba(0, 0, 0, .2);
        border-radius: rem(20px);
        padding: rem(100px) 0 0 rem(110px);

        @media(max-width: 1279px){
            padding: rem(50px);
        }

        @media(max-width: 767px){
            padding: rem(20px);
            border-radius: 0;
            width: auto;
            height: rem(450px);
            margin:0 rem(-10px);
        }
    }

    &__content{
        max-width: rem(610px);
        text-align: center;
    }
    
    &__text{
        color: $black;
        margin-bottom: rem(80px);
    }
    &__form{
        position: relative;
    }

    &__input{
        width: 100%;
        @extend %montserrat-400;
        font-size: rem(22px);
        line-height: rem(27px);
        color: $black;
        padding: rem(26px) rem(230px) rem(26px) rem(40px);
        box-shadow: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25);
        border-radius: rem(150px);
        border: none;

        @media(max-width: 767px){
            padding: rem(20px) rem(30px);
        }

        &::placeholder{
            color: $black;
        }
    }

    &__btn{
        @extend %montserrat-700;
        font-size: rem(22px);
        line-height: rem(27px);
        text-transform: uppercase;
        padding: rem(16px) rem(38px);
        position: absolute;
        top: rem(8px);
        right: rem(10px);
        z-index: 1;

        @media(max-width: 767px){
            top: 110%;
            width: 100%;
            right: 0;
        }
    }
    
}