/**
* Colors
*
* Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
* Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// Пример указания цветов
//$slate-gray: #768298;
$black: #000000;
$white: #ffffff;
$dropdownColor: #5F6670;
$mainColor: #34383D;
$titleMain: $mainColor;
$textMain: rgba($mainColor, .8);
$linkColor: rgba($mainColor, .6);
$greyBg: rgba($mainColor, .2);
$accent: #CDA861;
$bgSecondary: rgba(#cfaa60, .19);
$alabaster: #F8F7F7;
$manatee: #8C94A6;
$image-box: #F2F1F1;
/**
* Fonts
*/

$font-size-base: 16px;

%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

%roboto-500-italic {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-style: italic;
}

%roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

%montserrat-400 {
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 400;
}

%montserrat-500 {
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
}

%montserrat-600 {
  font-family: "Montserrat-SemiBold", sans-serif;
  font-weight: 600;
}

%montserrat-600-italic {
  font-family: "Montserrat-SemiBoldItalic", sans-serif;
  font-weight: 600;
  font-style: italic;
}

%montserrat-700 {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}

%btn{
    padding: rem(16px) rem(41px);
    @extend %montserrat-700;
    background-color: $accent;
    border: 2px solid $accent;
    border-radius: rem(50px);
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(205, 168, 97, 0.29);
    transition: all .3s;
    &:hover{
        background-color: transparent;
        transition: all .3s;
    }
}

%title{
    font-size: 76px;
    line-height: 93px;
    color: $titleMain;
    text-transform: uppercase;
    @extend %montserrat-600;
}

%subtitle{
    display: inline-block;
    font-size: 30px;
    line-height: 37px;
    color: $titleMain;
    @extend %montserrat-600;
    padding-bottom: rem(10px);
    border-bottom: 2px solid $accent;
}




/**
* Breakpoints
*/
// Пример указания медиазапросов, затем можно использовать ее как '@media #{$screen-medium} {...}'
$screen-tablet: "(min-width: 768px)";
$screen-desktop: "(min-width: 1280px)";
$screen-1650: "(max-width: 1650px)";
$screen-1280: "(max-width: 1279px)";
$screen-768: "(max-width: 767px)";

/**
* Layout
*/

$window-width-tablet: rem(1280px);
$window-width-tablet: rem(768px);
$window-width-mobile: rem(375px);

$container-width-mobile: rem(335px);
$container-width-tablet: rem(728px);
$container-width-desktop: rem(1240px);

/**
* Sizes
*/


/**
* Transitions and Animations
*/


/**
* Radius
*/


/**
* Box-shadows
*/


/**
* Z-indexes
*/